#heading{
    margin-top:1%;
}

#address{
    float:right;
    margin-right:18%;   
}

.leftAlignmentHeadings{
    float:left;
    margin-left: 6%;
}

#summary p{
    width:85%;
}

hr{
    float:left;
    width:75vw;
}

h3{
    color:blue;
}

table{
    margin-left:9%;
    width:60vw;
}

table thead{
    font-size: medium;
}

table tr td:nth-child(n) h3{
    color:black;
}